.app {
  justify-content: center;
  padding-top: 1rem;
  display: flex;
}

h1 {
  text-align: center;
}

h5 {
  text-align: justify;
  margin: 1rem;
}

.text_logo {
  margin: 2rem 0 0;
}

.person-info {
  padding-top: 1.5rem;
}

.form-floating label {
  color: #000;
}

.container {
  border-radius: 1rem;
  width: 400px;
  padding: 1rem;
  position: absolute;
  top: 15%;
  box-shadow: 1px 2px 5px #0dcaf080;
}

.test-info button {
  width: 100px;
}

#question_text {
  height: 50px;
}

.logo {
  width: 70px;
  margin-bottom: 3rem;
}
