@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";
body {
  font-family: Roboto Condensed, serif;
}

.app {
  justify-content: center;
  padding-top: 1rem;
  display: flex;
}

h1 {
  text-align: center;
}

h5 {
  text-align: justify;
  margin: 1rem;
}

.text_logo {
  margin: 2rem 0 0;
}

.person-info {
  padding-top: 1.5rem;
}

.form-floating label {
  color: #000;
}

.container {
  box-sizing: border-box;
  border-radius: 1rem;
  width: 400px;
  padding: 1rem;
  position: absolute;
  top: 15%;
  box-shadow: 1px 2px 5px #0dcaf080;
}

.test-info button {
  width: 100px;
}

#question_text {
  height: 50px;
  font-size: 20px;
}

.logo {
  width: 70px;
  margin-bottom: 3rem;
}

.progress-bar {
  background-color: #0dcaf0;
}

@media (width <= 400px) {
  .container {
    max-width: 350px;
  }
}
